*{
    margin: 0;
    padding: 0;
    background: #fff;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.34;
    color: #1c1e21;
}
.container{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;  
}
 .logo .fblogo{
    width: 360px;
    padding: 185px 0 16px;
}
.logo .logo-wordings{
font-size: 28px;
line-height: 28px;
width: auto;
font-weight: 400;
padding-left: 30px;
margin-top: -35px;
}
.logo{
    box-sizing: border-box;
    margin-right: 0;
    padding-left: 90px;
    width: 650px;
}
#form{
    font-family: inherit;
    display: inline-block;
    vertical-align: top;
}
#form .form{
    font-family: inherit;
    height: 456px;
    width: 396px;
    display: block;
}
#form .form .loginform{
    font-family: inherit;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin-left: 130px;
    margin-top: 7em;
    width: 396px;
    padding: 15px;
    height: 21.5em;
}
.newaccount{
    width: 60%;
    margin-left: 80px;
}
.page{
    margin-right: -100px;
    padding-left: 150px;
}
.page a{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
#form button{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}
#form a{
    text-decoration: none;
}
.loginform input{
    height: 50px;
}